body {
width: 100%;
height: 100%;
background-image: url('background.png');
background-size: cover;
background-color: rgb(237, 216, 199);
background-position: 50% 0%;
background-repeat: no-repeat no-repeat;
}

.dashed {
height: 0px;
border-bottom: 3px dashed white;
}

.thin-top-thick-bottom {
border-top: 1px solid white;
border-bottom: 3px solid white;
width: 100%;
height: 9px;
min-height: 9px;
padding: 5px 0 0;
}

.thin-bottom-thick-top {
border-top: 3px solid white;
border-bottom: 1px solid white;
width: 100%;
height: 9px;
min-height: 9px;
padding: 5px 0 0;
}

.top-buffer {
margin-top: 16px;
}

.top-buffer-22 {
margin-top: 22px;
}

.hidden-xs h1.dima-olga {
color: rgb(119, 115, 115);
font-family: georgia, palatino, 'book antiqua', 'palatino linotype', serif;
font-size: 78px;
text-transform: uppercase;
margin-top: 13px;
margin-bottom: 0;
}

.hidden-md h1.dima-olga, h1.page-header {
color: rgb(119, 115, 115);
font-family: georgia, palatino, 'book antiqua', 'palatino linotype', serif;
font-size: 23px;
text-transform: uppercase;
margin-top: 0;
margin-bottom: 0;
}

h1.page-header {
    color: white;
    font-family: georgia, palatino, 'book antiqua', 'palatino linotype', serif;
    font-size: 34px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding-bottom: 0;
}

.hidden-xs h1.wedding {
color: rgb(255, 255, 255);
font-family: georgia, palatino, 'book antiqua', 'palatino linotype', serif;
font-size: 90px;
text-transform: uppercase;
margin-top: -13px;
margin-bottom: 6px;
}

.hidden-md h1.wedding {
color: rgb(255, 255, 255);
font-family: georgia, palatino, 'book antiqua', 'palatino linotype', serif;
font-size: 21px;
text-transform: uppercase;
margin-top: -13px;
}



.valign {
float: none;
display: table-cell !important;
vertical-align: middle;
}

.left-bow {
background-image: url('left.png');
background-repeat: no-repeat;
background-position: left top;
padding-left: 56px;
padding-top: 11px;
height: 60px;
}

.right-bow {
background-image: url('right.png');
background-repeat: no-repeat;
background-position: right top;
padding-right: 56px;
padding-top: 11px;
height: 60px;
}

.left-bow.right-bow {
background-image: url('left.png'), url('right.png');
background-position: left top, right top;
}

.blue-background {
background-color: rgb(159, 192, 200);
padding: 10px;
width: 195px;
}

.white-border-top-bottom {
border-top: 1px solid white;
border-bottom: 1px solid white;
height: 30px;
color: rgb(255, 255, 255);
font-family: georgia, palatino, 'book antiqua', 'palatino linotype', serif;
font-size: 21px;
font-style: italic;
width: 135px;
display: inline-block;
margin: 0;
}

.white-text {
color: rgb(255, 255, 255);
font-family: georgia, palatino, 'book antiqua', 'palatino linotype', serif;
font-size: 20px;
font-style: italic;
margin: 0;
}

.fill-width {
width: 100%;
}

.nav a {
line-height: 35px;
color: rgb(145, 180, 189);
font-family: georgia, palatino, 'book antiqua', 'palatino linotype', serif;
font-size: 16px;
padding-top: 8px !important;
padding-bottom: 8px !important;
}

.nav a:hover, .nav a:focus  {
background-color: transparent !important;
color: rgb(159, 192, 200);
}


.item h2 {
color: rgb(119, 115, 115);
font-family: georgia, palatino, 'book antiqua', 'palatino linotype', serif;
font-size: 40px;
font-style: italic;
}

.item h2 .dash {
border-top: 1px solid rgb(119, 115, 115);
border-bottom: 3px solid rgb(119, 115, 115);
width: 39px;
height: 9px;
min-height: 9px;
margin: 5px;
margin-bottom: 9px;
display: inline-block;
}

#homepage .link-decorator {
height: 60px;
width: 188px;
background-color: rgb(175, 188, 107);
padding: 10px;
display: inline-block;
}

#homepage .link-decorator a {
width: 168px;
height: 40px;
display: inline-block;
padding: 8px;
border: 1px solid white;
font-family: georgia, palatino, 'book antiqua', 'palatino linotype', serif;
font-size: 18px;
color: white;
-o-transition:.5s;
-ms-transition:.5s;
-moz-transition:.5s;
-webkit-transition:.5s;
transition:.5s;
}

#homepage .link-decorator a:hover {
text-decoration: none;
border: 1px solid rgb(175, 188, 107);
color: rgb(119, 115, 115);
}

/**
* Polaroid Images
*/
.polaroid-images
{
margin:10px 0;
float: left;
}
.polaroid-images a
{
background: white;
display: inline;
float: left;
margin: 0 15px 30px;
padding: 10px 10px 25px;
text-align: center;
text-decoration: none;
-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
-moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
box-shadow: 0 4px 6px rgba(0,0,0,.3);
-webkit-transition: all .15s linear;
-moz-transition: all .15s linear;
transition: all .15s linear;
z-index:0;
position: relative;
}
.polaroid-images a:after {
color: #333;
font-size: 20px;
content: attr(title);
position: relative;
top:15px;
}
.polaroid-images img {
display: block;
width: inherit;
}

.polaroid-images a:nth-child(2n)
{
-webkit-transform: rotate(4deg);
-moz-transform: rotate(4deg);
transform: rotate(4deg);
}
.polaroid-images a:nth-child(3n) {
-webkit-transform: rotate(-24deg);
-moz-transform: rotate(-24deg);
transform: rotate(-24deg);
}
.polaroid-images a:nth-child(4n)
{
-webkit-transform: rotate(14deg);
-moz-transform: rotate(14deg);
transform: rotate(14deg);
}
.polaroid-images a:nth-child(5n)
{
-webkit-transform: rotate(-18deg);
-moz-transform: rotate(-18deg);
transform: rotate(-18deg);
}
.polaroid-images a:hover{
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transform: scale(1.2);
-moz-transform: scale(1.2);
transform: scale(1.2);
z-index:10;
-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
-moz-box-shadow: 0 10px 20px rgba(0,0,0,.7);
box-shadow: 0 10px 20px rgba(0,0,0,.7);
}


.center {
    margin: 0 auto;
}

.flip-clock-label {
    color: rgb(119, 115, 115) !important;
    font-family: georgia, palatino, 'book antiqua', 'palatino linotype', serif;
    font-size: 20px;
    font-style: italic;
    text-align: center;
}

.clock {
    margin-top: 25px;
    margin-bottom: 20px;
    width: 460px;
}

.navbar-collapse {
    max-height: inherit;
}

.navbar-toggle {
    background-color: rgb(212, 190, 175);
    border: 1px solid white;
}

.navbar-toggle .icon-bar {
    background-color: white;
}

.menu-title {
    color: white;
}